{% extends "layout.html" %}

{% block title %}Hasta Kayıt Sayfası{% endblock title %}

{% block body %}

<div class="col-md-8 offset-md-2">
  <div class="card-header p-1" style="border-radius:8px; background-color: #00C897">
    <div class="py-1">
    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0"><b>HASTA KAYIT FORMU</b></h4>
    </div>
  </div><br>
    <div class="col-md-8 offset-md-2">
      <span><a class="btn btn-outline-primary" href="{% url 'medicine:addpatient' %}">Hasta Kaydı Oluştur</a></span>
      <span><a class="btn btn-outline-danger" href="{% url 'medicine:ilaclistesi' %}">İlaç Listesi</a></span>
      <span><a class="btn btn-outline-info" href="{% url 'medicine:recetelistesi' %}">Reçete Listesi</a></span>
      <br><br>
      <h3 style="text-align:center; font-weight:bold">Kayıtlı Hastalar</h3>

  <form>
  {% csrf_token %}
  <div class="input-group p-1 pb-3 justify-content-center align-items-center">
  <input type="search" name="keyword" class="form-control rounded" placeholder="Hasta ara...">
  <button type="submit" class="btn btn-outline-primary">Ara</button>
  </div>
  </form>
  </div>

  {% if medicines %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">İsim</th>
          <th scope="col">Soyisim</th>
          <th scope="col">Mail</th>
          <th scope="col">Reçete Yaz</th>
          <th scope="col">Sil</th>
        </tr>
      </thead>
      <tbody>
        {% for i in medicines %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.first_name}}</td>
          <td>{{i.last_name}}</td>
          <td>{{i.mail}}</td>

          <td><a href="{% url 'medicine:receteolustur' %}" class="btn btn-outline-success">Reçete Yaz</a></td>
          <td><a href="{% url 'medicine:delete' i.id %}" class="btn btn-danger">Sil</a></td>
        </tr>
        {% endfor %}
      
      </tbody>
    </table>

  {% else %}
  <div class="alert alert-danger">Herhangi bir hasta kaydı bulunamadı!</div>
  {% endif %}

</div>

{% endblock body %}

