<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Layout Sayfası {% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
<div id = "deneme" class = "container"> <br>
    {% include 'includes/navbar.html' %}
    <hr>

{% if messages %}
                
    {% for message in messages %}
    {% if message.tags == "success" %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    var m = "{{message}}";
    swal("Tebrikler !",m,"success")
    </script>
    {% else %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    var m = "{{message}}";
    swal("Hata !",m,"error")
    </script>

    {% endif %}
    {% endfor %}

{% endif %}


    {% block body%}
    {% endblock body%}

</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquerry-3.2.1.min.js' %}"></script>

</body>
</html>