{% extends "layout.html" %}

{% block title %}Reçete Listesi{% endblock title %}


{% block body %}

<div class="col-md-10 offset-md-1">
{% if recete %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Hasta Adı</th>
      <th scope="col">Mail Adresi</th>
      <th scope="col">İlaçlar</th>
      <th scope="col">Tutar (TL)</th>
      <th scope="col">Detay</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
  {% for i in recete reversed %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.hasta.first_name}} {{i.hasta.last_name}}</td>
      <td>{{i.hasta.mail}}</td>
      <td>{{i.get_tags_values}}</td>
      <td>{{i.get_ilacfiyati}}</td>
      
      <td><a href="{% url 'medicine:detail' i.id %}"><button class="btn btn-success"><b>Detay</b></button></td>
      <td><a href="{% url 'medicine:deleterecete' i.id %}" class="btn btn-danger">Sil</a></td>
    </tr>
  {% endfor %}
    
  </tbody>
</table>
{% else %}
<div class="alert alert-danger">Herhangi bir hasta kaydı bulunmuyor!!!</div>
{% endif %}

</div>
{% endblock body %}
